<nav class="bg-gray-100 dark:bg-gray-600">
  <div class="w-full py-2">
    <ul
      class="flex justify-center items-center flex-row mt-0 mr-6 space-x-8 text-sm"
    >
      <li>
        <a
          routerLinkActive="bg-gray-50 py-3 text-red "
          routerLink="home"
          class="text-gray-900 dark:text-white hover:underline"
          >Shop product</a
        >
      </li>
      <li>
        <a
          routerLinkActive="bg-gray-50 p-3 text-red "
          routerLink="fakeapi"
          class="text-gray-900 dark:text-white hover:underline"
          >Company</a
        >
      </li>
      <li>
        <a
          routerLink="login"
          routerLinkActive="bg-gray-50 p-3 text-red "
          class="text-gray-900 dark:text-white hover:underline"
          >Login</a
        >
      </li>
      <li>
        <a
          routerLink="singup"
          routerLinkActive="bg-gray-50 p-3 text-red"
          class="text-gray-900 dark:text-white hover:underline"
          >SingUp</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
